@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap');

body {
    background-color: #C1E1C1;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1,h2,h3,p {
    color: #040403;
}

h1,h2,h3 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

header a {
    color: #040403;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 22px;
    background: linear-gradient(90deg, transparent, #040403, transparent) bottom /
		var(--d, 0) 3px no-repeat;
        transition: 0.5s;
}

header a:hover {
    color: white;
    padding: 3px;
    --d: 75%;
}

.navbar {
    /* make it stick */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* in front of all other elements */
    z-index: 99;
    /* set background */
    background-color: #E4E0D7;
    padding: 10px 5%;

    /* define flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    transition: background-color 0.4s ease-out;
}

.logo-image {
    display: block;
    height: 250px;
    border: 2px solid black;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu-item {
    display: inline-block;
    margin-left: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #040403;
    margin: 8px auto;
    align-self: center;
}

.menu-icon {
    display: none;
}

#header-title {
    font-size: 70px;
}

#main-img1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit:fill;
    width: 100%;
    
}

#homediv1 {
    margin: 0 auto;
    margin-top: 400px;
    font-size: 50px;
}

#homediv1 h1{
    color: white;
}

.footer-content {
    background-color: #E4E0D7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #040403;
    padding: 5px;
    margin-top: 5px;
}


#footer-img {
    height: 150px;
    width: 150px;
}

.fa {
    color: #040403;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }
