@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&display=swap');

body {
    background-color: #C1E1C1;
    display: block;
    margin: 0 auto;
    text-align: center;
}

h1,h2,h3,p {
    color: #040403;
}

h1,h2,h3 {
    font-family: 'Dancing Script', cursive;
}

p {
    font-family: 'Dosis', sans-serif;
}

header a {
    color: #040403;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 22px;
    background: linear-gradient(90deg, transparent, #040403, transparent) bottom /
		var(--d, 0) 3px no-repeat;
        transition: 0.5s;
}

header a:hover {
    color: white;
    padding: 3px;
    --d: 75%;
}

.navbar {
    /* make it stick */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* in front of all other elements */
    z-index: 99;
    /* set background */
    background-color: #E4E0D7;
    padding: 10px 5%;

    /* define flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    transition: background-color 0.4s ease-out;
}

.logo-container {
    align-self: center;
    margin: 0 auto;
}

.logo-image {
    display: block;
    height: 250px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.menu-item {
    display: inline-block;
    margin-left: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #040403;
    margin: 8px auto;
    align-self: center;
}

.menu-icon {
    display: none;
}

#header-title {
    font-size: 90px;
}

#main-img1 {
    object-fit:fill;
    width: 100%;
    
}
#home-main {
    display: block;
}

#home-main a {
    color: #040403;
    font-size: 2em;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    position: fixed;
    bottom: 150px;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    transition: 0.5s;
}

#home-main a:hover {
    color: white;
    
}

.footer-content {
    background-color: #E4E0D7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #040403;
    padding: 5px;
    margin-top: 5px;
}


#footer-img {
    height: 150px;
    width: 150px;
}

.fa {
    color: #040403;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.7;
}

#about-main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 10px;
    align-content: center;
    margin-top: 30px;
}

#about-img{
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);
    margin-left: 15px;
    margin-bottom: 35px;
}

#about-main p {
    grid-column: 2;
    grid-row: 1/3;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    text-align: center;
    align-content: center;
    align-self: center;
    font-size: 1.5em;
    border: 4px solid rgba(0,0,0,0.5);
    border-radius: 15px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.3), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);
    background-color: #E4E0D7;

}

#about-main h1 {
    grid-column: 2;
    grid-row: 1/3;
    font-size: 5em;
}

.about-head nav {
    position: sticky;
}

#gallery-head nav {
    position: sticky;
}

#gallery-main {
    margin-top: 240px;
}

#gallery-main img {
    filter: grayscale(100%);
    max-width: 450px;
    max-height: 600px;
    margin: 0 auto;
    border: 3px solid rgba(0,0,0,0.8);
    transition: 0.9s;
}

#gallery-main img:hover {
    filter: none;
    border: 6px solid rgba(255,255,255,0.8);
    margin: 10px;
}

#weddings-head nav {
    position: sticky;
}

#contact-head nav {
    position: sticky;
}

#weddings-main {
    margin-top: 240px;
    text-align: center;
}

#weddings-main h1 {
    font-size: 4em;
}

form {
    font-family: 'Dosis', sans-serif;
    margin: 5px auto;
    padding: 5px;
    max-width: 400px;
}

form input:required {
    border-left: red solid 6px;
}

form input:required:valid {
    border-left: green solid 6px;
}

textarea:required {
    border-left: red solid 6px;
}

textarea:required:valid {
    border-left: green solid 6px;
}

label, input {
    display: block;
    font-size: 1.5em;
    padding: 5px;
}

textarea {
    display: block;
    text-align: left;
    height: 150px;
    width: 400px;
    margin: 5px auto;
}

label {
    text-align:left;
}

#weddings-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-direction: column;
}

#weddings-main h1 {
    display: block;
}

#thankyou-main {
    margin-top: 340px;
    text-align: center;
}

#thankyou-main h1,h2 {
    font-size: 3em;
}

#thankyou-footer {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

#contact-main {
    display: block;
    margin-top: 320px;
}

#contact-main h1 {
    font-size: 3em;
}

#contact-main h2 {
    font-size: 2em;
}

#contact-main p {
    font-size: 1.5em;
}

#contact-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 450px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


