@media only screen and (max-width: 600px){
    .navbar {
        flex-direction: column;
    }

    .socialsimgs-header {
        display: none;
    }

    header a {
        font-size: 16px;
    }

    .logo-container {
        width: 100%;
    }

    .nav-menu {
        display: none;
        width: 100%;
    }

    .menu-item {
        display: block;
        width: 100%;
        padding: 5px 0 !important;
        text-align: end;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 5%;
    }

    .menu-icon:hover .bar {
        background-color: white;
    }

    .navactive {
        display: block;
    }

    .footer-content {
        display: flex;
    }

    #footer-img {
        height: 80px;
        width: 80px;
    }

    footer div h2 {
        display: none;
    }

    #about-main {
        display: block;
    }

    #about-img {
        max-width: 480px;
        margin: 0 auto;
    }

    #gallery-main {
        margin-top: 100px;
    }

    #weddings-main {
        display: block;
        margin-top: 100px;
    }

    #thankyou-main {
        margin-top: 180px;
    }
    .logo-image {
        max-height: 75px;
    }
}
