@media only screen and (min-width: 600px){
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 100px;
        grid-template-rows: 1fr 0.5fr;
    }

    a.socials {
        grid-column: 5;
        grid-row: 1;
    }

    button.button {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        display: block;
    }

    #aurora-pic {
        min-width: 600px;
    }

    #news {
        height: 200px;
    }

    div.spotlight {
        display: flex;
        justify-content: space-around;
    }
    
    #spotlight1 {
        width: 250px;
    }

    #wazoosimg {
        width: 240px;
    }

    #bookbarnimg {
        width: 240px;
    }

    #spotlight2 {
        width: 250px;
    }

    #join {
        display: block;
    }

    button #joinsectionbtn {
        background-color: rgba(255, 255, 255, 0.3);
    }

    img.footerimg {
        height: 100px;
        width: 100px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 150px;
    }

    footer div.footer-content {
        display: flex;
        flex-direction: column;
        grid-row: 1;
    }
    
    footer div.copyright {
        display: block;
        grid-row: 2;
    }
}